@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}


/* styles for table here */
.App {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2.5%;
}

table {
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    height: 0px;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}

.data_entry {
    width: 100%;
    height: 10px;
}

.headerStyle {
    background-color: crimson;
}

.AppBody {
    width: 100%;
    background-color: whitesmoke;
    padding: 1.5%;
}

.courierform{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    justify-content: center;    
    padding-top:10px;
    padding-bottom: 10px;
}

.label{
    margin-left: 10px;
    margin-right: 10px;
}

.button{
    width:80px;
    height:30px;
    background: #e87070;
    font-size: 14px;
    justify-self: right;
}

.ipBox{
    width: 240px;
    height: 30px;
    font-size: 14px;
}


.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #3f6a75;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 00;
    width: 80%;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #254E58;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #316d72;
    /* box-shadow: 0px 2px 2px #254E58; */
    cursor: pointer;
    transition: 0s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #5e93a0;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #588d9a;
    text-align: center;
}