@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  /* display: block; */
}

/* styles for table here */
.App {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  padding: 2.5%;
}

h2 {
  font-weight: bold;
  color: black;
}

p{
    font-size: 17px;
    color: black;
}

table {
  border: 2px solid rgb(0, 0, 0);
  width: 100%;
  height: 0px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

.tdb {
  text-align: center;
  margin-left: 0px;
}

.data_entry {
  width: 100%;
  height: 10px;
  padding-right: 0px;
}

.headerStyle {
  background-color: rgb(70, 169, 169);
  color: black;
  text-align: center;
  background-color: #f6f1f1;
  color: black;
  text-align: center;
}

body {
  width: 100%;
  display: block;
  height: auto;
  /* padding: 1.5%; */
}

.inBlock {
  /* margin: 1.5%; */
  padding: 1.5%;
  background-color: whitesmoke;
  text-align: center;
}

.courierform {
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.label {
  margin-left: 2px;
  margin-right: 2px;
  align-self: center;
  text-align: center;
  color: black;
  text-emphasis: bold;
}

.button {
  width: 80px;
  height: 30px;
  background: #ffacac;
  color: black;
  font-size: 14px;
  justify-self: right;
  border: none;
}

.button2 {
  width: 100px;
  height: 30px;
  background: #ff5a5a;
  color: black;
  font-size: 14px;
  justify-self: right;
  border: none;
  cursor: pointer;
}

.ipBox {
  width: 240px;
  height: 30px;
  font-size: 14px;
}

.formblock {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #BDCDD6;
}



h3 span {
    font-size: 16px;
    float: left;
}

h3 input.search-input {
    width: 300px;
    margin-left: auto;
    float: right;
    height: 25px;
}
