body{
    background-color: white;
}


.container{
    /* width: 9000px; */
    /* margin-top: 10px; */
    /* align-items: stretch;  */
    display: flex;
   margin: 0;
   padding: 0;
   height: 90vh;
}
.left{
    width: 40%;
    padding: 0;
    margin: 0;
}
/* .right{
    width: 60%;
    height: 45vh;
} */