/* 
.topnav {
    background-color: #112D32;
    overflow: hidden;
  }
  

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4F4A41;
    color: white;
  }

  .topnav a.alignright {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #000000;
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: #000000;
  color: #fff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover{
  background-color: #146C94 ;
}

.home-btn,
.login-btn {
  color: #fff;
  text-decoration: none;
  padding: 16px;
}

.home-btn:hover,
.login-btn:hover {
  background-color: #146C94;
}
