.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  background-color: #000304;
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
  box-sizing: border-box;
}

/* .dropdown {
  position: absolute;
  left: 0%;
  display: inline-block;
} */

/* .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000000;
  border: 1px solid #000000;
  min-width: 160px;
  z-index: 1;
  height: 100%;
}

.dropdown-content a {
  color: #f6f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  text-decoration: none;
  background-color:black;
  color:#F6F1F1;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
}

.dropbtn {
  background-color: #000000;
  color: #fff;
  padding: 13px;
  height: 7vh;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */

/**/

.home-btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  left: 50%;
  height: 7vh;
  padding: 13px;
}
.login-btn {
  position: absolute;
  color: #fff;
  text-decoration: none;
  right: 0%;
  height: 7vh;
  padding: 13px;
}

.home-btn:hover,
.login-btn:hover {
  color: #19a7ce;
  text-decoration: none;
}

.dropdown-right {
  position: absolute;
  right: 0%;
  display: block;
}

.dropdown-right-content {
  display: none;
  position: absolute;
  top: 90%;
  right: 5px;
  background-color: #000000;
  border: 1px solid #000000;
  min-width: 100px;
  z-index: 2;
}

.dropdown-right-content a {
  color: #f6f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-right-content a:hover {
  text-decoration: none;
  background-color: #19a7ce;
  color: #f6f1f1;
}

.dropdown-right:hover .dropdown-right-content {
  display: block;
}

.dropbtn-right {
  background-color: #000000;
  color: #fff;
  padding: 13px;
  height: 7vh;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* new styles */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

/* new styles */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
