@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap");
html {
  font-family: "Lucida Console", "Courier New", monospace,sans-serif;
  font-size: 20px;
  background: black;
}

.alignmiddle{
  align-items: center;
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: #254E58;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  transition: all ease-out 300ms;
}
.nav ul li.active a {
  color: white;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}
.nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

.section--container {
  position: relative;
  width: 75%;
  float: right;
  height: 75vh;
}
.section--container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.section--container a {
  position: relative;
}
.section--container a img {
  width: 48px;
  height: 48px;
}
.section--container p {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
}

