@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  /* display: block; */
}

/* styles for table here */
.notices__App {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  padding: 2.5%;
}

notices__body {
  width: 100%;
  display: block;
  height: auto;
  font-family: 'Roboto', sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23f0f0f0' d='M1 3h1v1H1V3zm2-1h1v1H3V2zM0 0h1v1H0V0zm2 2h1v1H2V2zM1 1h1v1H1V1zm2-1h1v1H3V0z'/%3E%3C/svg%3E");
  /* padding: 1.5%; */
}

.inBlock {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* margin: 1.5%; */
  padding: 1.5%;
  background-color: whitesmoke;
  text-align: center;
}

.searchBlock filterBlock {
  position: relative;
  font-size: 16px;
  float: left;
}

.searchBlock input.search-input {
  width: 300px;
  margin-left: auto;
  position: relative;
  float: right;
  height: 25px;
}

.searchBlock{
  margin-bottom: 25px;
  height: auto;
  padding: 5px;
  width: 100%;
  display: flex;
}

.FilterBlock{
  margin: 10px;
  justify-content: left;
  display: flex;
}

.blocks{
  position: relative;
  margin-left: 25px;
}

.noticeBlock{
  border-radius: 10px;
  padding: 25px;
  display: block;
  background-color: rgb(237, 241, 214);
  margin-bottom: 25px;
}
.noticeBlock h3{
  padding-bottom: 5px;
}
.noticeBlock h4{
  padding-bottom: 10px;
  text-align: left;
}
.noticeBlock p{
  padding-bottom: 5px;
}

.addNew{
  position: fixed;
  bottom: -4px;
  right: 3px;
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: rgb(141, 141, 250);
}

.accordion{
  width: 80%;
  margin-left: 10%;
}


.notice-board {
  border: 2px solid #444;
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.notice-board h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #444;
}

.notice-board ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notice-board li {
  font-size: 1.2rem;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: #444;
  transition: all 0.2s ease-in-out;
}

.notice-board li:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.notice-board li .notice-heading {
  font-weight: bold;
}

.notice-board li .notice-content {
  margin-top: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #fff;
  color: #444;
}

.search-container select {
  margin-left: 20px;
  font-size: 1.2rem;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #fff;
  color: #444;
}

/* .filter-container {
  width: 10%;
  text-align: right;
  margin-left: 10%;
}

.filter-container select {
  font-size: 1.2rem;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #fff;
  color: #444;
} */

.empty-space {
  width: 10%;
}

.btn-add-notice {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid #444;
  border-radius: 5px;
  background-color: #fff;
  color: #444;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.btn-add-notice:hover {
  background-color: #444;
  color: #fff;
}
